<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bloomingmath</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Una applicazione per lo studio della matematica.">
    <meta name="author" content="Matteo Bortolotto">

    <link href="{{ url_for('static', path='/img/favicon.ico') }}" rel="icon" type="image/png">

    <link rel="stylesheet" href="{{ url_for('static', path='/vendor/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/lazy.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/demo.css') }}">
<!--    <link rel="stylesheet" href="{{ url_for('static', path='/css/font-awesome-all.css') }}">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"
          integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
</head>
<body class="index bg-light">

<!-- Navigation -->
{% block nav %}{% endblock %}

<!-- Page Content -->
{% block content %}{% endblock %}

<!-- Message flashes -->
{% if flashes %}
<div class="floating-container">
    <div class="container">
        {% for message, category in flashes %}
        <div class="row">
            <div class="col">
                <div class="alert alert-{{category}} alert-dismissible fade show"  role="alert">
                    <strong>Guacamole!</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for('static', path='/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', path='/vendor/popper/popper.min.js') }}"></script>
<script src="{{ url_for('static', path='/vendor/bootstrap/bootstrap.min.js') }}"></script>

<!-- optional plugins -->
<script src="{{ url_for('static', path='/vendor/nouislider/js/nouislider.min.js') }}"></script>

<!--   lazy javascript -->
<script src="{{ url_for('static', path='/js/lazy.js') }}"></script>
</body>
</html>
