{% macro file_upload_form() %}
<form action="/tmp/upload" method="post" enctype="multipart/form-data">
    <div>
        Short name:
        <input type="text" name="short" id="short" />
    </div>
    <div>
        Filetype:
        <select name="filetype">
            <option value="pdf">pdf</option>
            <option value="md">md</option>
            <option value="png">png</option>
            <option value="mp4">mp4</option>
        </select>
    </div>
    <div>
        Select file to upload:
        <input type="file" name="file" id="file" />
    </div>
    <div>
        Description (optional)
        <textarea name="long" id="long"></textarea>
    </div>
    <div>
        <input type="submit" value="Upload File" name="submit" />
    </div>
</form>
{% endmacro %}


{% macro group_creation_form() %}
<form action="/tmp/admin/create/group" method="post" enctype="application/x-www-form-urlencoded">
    <div>
        Short: <input type="text" name="short">
    </div>
    <div>
        Long (opt): <textarea name="long"></textarea>
    </div>
    <div>
        <input type="submit" value="Create" name="submit" />
    </div>
</form>
{% endmacro %}

{% macro login_form() %}
<form class="wide-form" action="/users/login" method="post" enctype="application/x-www-form-urlencoded">
  <h1 class="h3 mb-3 font-weight-normal">Accedi all'applicazione</h1>
  <label for="inputEmail" class="sr-only">Nome utente</label>
  <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Accedi</button>
</form>
{% endmacro %}

{% macro signup_form() %}
<form class="wide-form" action="/users/signup" method="post" enctype="application/x-www-form-urlencoded">
  <h1 class="h4 mb-3 font-weight-normal">Compila i campi per registrarti</h1>
  <label for="inputEmail" class="sr-only">Email</label>
  <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
  <label for="inputPasswordConfirmation" class="sr-only">Password (conferma)</label>
  <input type="password" id="inputPasswordConfirmation" name="password_confirmation" class="form-control" placeholder="(conferma password)" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Iscriviti</button>
</form>
{% endmacro %}

{% macro group_subscription_form(id, short, next="/") %}
<form class="single-click-form" action="/groups/subscribe?next={{next}}" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="group_id" value="{{id}}"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit"  id="sub_group_{{short}}_button">iscriviti a '{{ short }}'</button>
</form>
{% endmacro %}

{% macro group_unsubscription_form(id, short, next="/") %}
<form class="single-click-form" action="/unsubscribe?next={{next}}" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="group_id" value="{{id}}"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="unsub_group_{{short}}_button">esci da {{ short }}</button>
</form>
{% endmacro %}

{% macro change_username_form(username="", next="/") %}
<form action="/users/change_username?next={{next}}" method="post" enctype="application/x-www-form-urlencoded">
    <input type="text" name="username" value="{% if username %}{{username}}{% else %}{% endif %}" placeholder="Nome completo"/>
    <button type="submit" id="change_username_submit">Cambia nome</button>
</form>
{% endmacro %}