{% macro file_upload_form() %}
<form action="/tmp/upload" method="post" enctype="multipart/form-data">
    <div>
        Short name:
        <input type="text" name="short" id="short" />
    </div>
    <div>
        Filetype:
        <select name="filetype">
            <option value="pdf">pdf</option>
            <option value="md">md</option>
            <option value="png">png</option>
            <option value="mp4">mp4</option>
        </select>
    </div>
    <div>
        Select file to upload:
        <input type="file" name="file" id="file" />
    </div>
    <div>
        Description (optional)
        <textarea name="long" id="long"></textarea>
    </div>
    <div>
        <input type="submit" value="Upload File" name="submit" />
    </div>
</form>
{% endmacro %}


{% macro group_creation_form() %}
<form action="/tmp/admin/create/group" method="post" enctype="application/x-www-form-urlencoded">
    <div>
        Short: <input type="text" name="short">
    </div>
    <div>
        Long (opt): <textarea name="long"></textarea>
    </div>
    <div>
        <input type="submit" value="Create" name="submit" />
    </div>
</form>
{% endmacro %}

{% macro signin_form() %}
<form class="wide-form" action="/signin" method="post" enctype="application/x-www-form-urlencoded">
<!--  <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
  <h1 class="h3 mb-3 font-weight-normal">Accedi all'applicazione</h1>
  <label for="inputUsername" class="sr-only">Nome utente</label>
  <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Nome utente" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
<!--  <div class="checkbox mb-3">-->
<!--    <label>-->
<!--      <input type="checkbox" value="remember-me"> Remember me-->
<!--    </label>-->
<!--  </div>-->
  <button class="btn btn-lg btn-primary btn-block" type="submit">Accedi</button>
<!--  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>-->
</form>
{% endmacro %}

{% macro signup_form() %}
<form class="wide-form" action="/signup" method="post" enctype="application/x-www-form-urlencoded">
<!--  <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
  <h1 class="h4 mb-3 font-weight-normal">Compila i campi per registrarti</h1>
  <label for="inputUsername" class="sr-only">Nome utente</label>
  <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Nome utente" required autofocus>
  <label for="inputEmail" class="sr-only">Email</label>
  <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
  <label for="inputRePassword" class="sr-only">Password (conferma)</label>
  <input type="password" id="inputRePassword" name="repassword" class="form-control" placeholder="(conferma password)" required>
<!--  <div class="checkbox mb-3">-->
<!--    <label>-->
<!--      <input type="checkbox" value="remember-me"> Remember me-->
<!--    </label>-->
<!--  </div>-->
  <button class="btn btn-lg btn-primary btn-block" type="submit">Iscriviti</button>
<!--  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>-->
</form>
{% endmacro %}

{% macro group_subscription_form(id, short, next="/") %}
<form class="single-click-form" action="/subscribe?next={{next}}" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" id="group_{{short}}" name="group_id" value="{{id}}"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ short }}</button>
</form>
{% endmacro %}

{% macro group_unsubscription_form(id, next="/") %}
<form class="single-click-form" action="/unsubscribe?next={{next}}" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" id="unsub_group_{{short}}" name="group_id" value="{{id}}"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">esci da {{ short }}</button>
</form>
{% endmacro %}

{% macro change_fullname_form(fullname="", next="/") %}
<form action="/change_fullname?next={{next}}" method="post" enctype="application/x-www-form-urlencoded">
    <input type="text" name="fullname" value="{{fullname}}" placeholder="Nome completo"/>
    <button type="submit">Cambia nome</button>
</form>
{% endmacro %}