{% macro login_form() %}
<form action="{{ url_for('login_post') }}" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <label for="login_form_email">Email address</label>
        <input name="email" type="email" class="form-control" id="login_form_email" aria-describedby="emailHelp"
               placeholder="Indirizzo email" autofocus>
    </div>
    <div class="form-group">
        <label for="login_form_password">Password</label>
        <input name="password" type="password" class="form-control" id="login_form_password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-block btn-primary">Accedi</button>
</form>
{% endmacro %}

{% macro inline_login_form() %}
<form class="form-subscribe form-inline mt-2 mt-lg-0" action="{{ url_for('login_post') }}" method="post"
      enctype="application/x-www-form-urlencoded">
    <div class="form-group flex-grow-1">
        <input name="email" type="email" class="form-control flex-grow-1 mr-2"
               id="inline_login_form_email" placeholder="Email" autofocus>
        <input name="password" type="password" class="form-control flex-grow-1 mr-2"
               id="inline_login_form_password" placeholder="Password">
        <button type="submit" class="btn btn-primary form-control">Accedi</button>
    </div>
</form>
{% endmacro %}

{% macro signup_form() %}
<form action="{{ url_for('signup_post') }}" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <label for="signup_form_email">Email address</label>
        <input name="email" type="email" class="form-control" id="signup_form_email" aria-describedby="emailHelp"
               placeholder="Indirizzo email">
    </div>
    <div class="form-group">
        <label for="signup_form_password">Password</label>
        <input name="password" type="password" class="form-control" id="signup_form_password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="signup_form_password_confirmation">Conferma password</label>
        <input name="password_confirmation" type="password" class="form-control" id="signup_form_password_confirmation"
               placeholder="Ripeti password">
    </div>
    <button type="submit" class="btn btn-block btn-primary">Registrati</button>
</form>
{% endmacro %}

{% macro inline_admin_toggle_block() %}
<form class="form-subscribe mt-2 mt-lg-0" action="{{ url_for('admin_toggle_block') + '?next=/admin' }}" method="post"
      enctype="application/x-www-form-urlencoded">
    Toggle user's block
    <div class="form-group flex-grow-1">
        <input name="user_email" type="email" class="form-control flex-grow-1 mr-2"
               id="tiled_signup_form_email" placeholder="user email">
    </div>
</form>
{% endmacro %}

{% macro inline_admin_reset_password() %}
<form class="form-subscribe mt-2 mt-lg-0" action="{{ url_for('admin_reset_password') + '?next=/admin' }}" method="post"
      enctype="application/x-www-form-urlencoded">
    Reset user's password to 'pass'
    <div class="form-group flex-grow-1">
        <input name="user_email" type="email" class="form-control flex-grow-1 mr-2" placeholder="user email">
    </div>
</form>
{% endmacro %}

{% macro inline_admin_create_group() %}
<form class="form-subscribe mb-3" action="{{ url_for('admin_create_group') + '?next=/admin' }}" method="post"
      enctype="application/x-www-form-urlencoded">
    Create group
    <div class="form-group flex-grow-1">
        <input name="short" type="text" class="form-control flex-grow-1 mr-2" placeholder="new group short">
    </div>
</form>
{% endmacro %}

{% macro inline_admin_create_user() %}
<form class="form-subscribe mb-3" action="{{ url_for('admin_create_user') + '?next=/admin' }}" method="post"
      enctype="application/x-www-form-urlencoded">
    Create user
    <div class="form-group flex-grow-1">
        <input name="user_email" type="text" class="form-control flex-grow-1 mr-2" placeholder="new user email">
    </div>
</form>
{% endmacro %}

{% macro inline_admin_toggle_node() %}
<form class="form-subscribe mb-3" action="{{ url_for('admin_toggle_node') + '?next=/admin' }}" method="post"
      enctype="application/x-www-form-urlencoded">
    Toggle node
    <div class="form-group flex-grow-1">
        <input name="group_short" type="text" class="form-control flex-grow-1 mr-2" placeholder="group short">
        <input name="node_short" type="text" class="form-control flex-grow-1 mr-2" placeholder="node short">
        <button type="submit" class="btn btn-primary form-control d-none">Submit</button>
    </div>
</form>
{% endmacro %}

{% macro inline_admin_toggle_group() %}
<form class="form-subscribe mb-3" action="{{ url_for('admin_toggle_group') + '?next=/admin' }}" method="post"
      enctype="application/x-www-form-urlencoded">
    Toggle group
    <div class="form-group flex-grow-1">
        <input name="user_email" type="text" class="form-control flex-grow-1 mr-2" placeholder="email">
        <input name="group_short" type="text" class="form-control flex-grow-1 mr-2" placeholder="group short">
        <button type="submit" class="btn btn-primary form-control d-none">Submit</button>
    </div>
</form>
{% endmacro %}

{% macro inline_user_change_username(username) %}
<form class="form-subscribe mb-3" action="{{ url_for('user_change_username') + '?next=' + url_for('profile') }}"
      method="post" enctype="application/x-www-form-urlencoded">
    Cambia nome utente
    <div class="form-group flex-grow-1">
        <input name="username" type="text" class="form-control flex-grow-1 mr-2" placeholder="Il tuo nome" value="{{ username }}">
        <button type="submit" class="btn btn-primary form-control">Invia</button>
    </div>
</form>
{% endmacro %}

{% macro inline_user_change_password() %}
<form class="form-subscribe mb-3" action="{{ url_for('user_change_password') + '?next=' + url_for('profile') }}"
      method="post" enctype="application/x-www-form-urlencoded">
    Cambia password
    <div class="form-group flex-grow-1">
        <input name="email" type="email" class="form-control flex-grow-1 mr-2" placeholder="Indirizzo email">
        <input name="old_password" type="password" class="form-control flex-grow-1 mr-2" placeholder="Vecchia password">
        <input name="password" type="password" class="form-control flex-grow-1 mr-2" placeholder="Nuova password">
        <input name="password_confirmation" type="password" class="form-control flex-grow-1 mr-2" placeholder="Conferma nuova password">
        <button type="submit" class="btn btn-primary form-control">Invia</button>
    </div>
</form>
{% endmacro %}