{% extends "base.html" %}

{% block nav %}
{% from "navbar.html" import navbar %}
{{ navbar(current_user) }}
{% endblock %}

{% block content %}
{% from "forms.html" import group_subscription_form %}
{% from "forms.html" import group_unsubscription_form %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Benvenut@ {% if current_user %}{{ current_user.username }}{% else %}Eternauta{% endif %}</h1>
        <div class="row">
            <div class="col col-sm-10 col-md-6">
                {% if current_user %}
                <p>Siamo felici che tu abbia un account, presto la pagina sarà completa e funzionante.</p>
                <p>Nel frattempo, controlla il tuo <a href="/users/profile">profilo</a>.</p>

                {% if user_has_nodes %}
                <p>Questi sono gli argomenti a tua disposizione:</p>
                <ul>
                    {% for node in user_s_nodes %}
                    <details>
                        <summary>{{node.short}}</summary>
                        {% if node.contents %}
                        <ul>
                        {% for content in node.contents %}
                            <li><a href="/content/{{ content.id }}">{{ content.short }}</a></li>
                        {% endfor %}
                        </ul>
                        {% else %}
                        Qui le cose che si potranno fare in questo argomento.
                        {% endif %}
                    </details>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Non hai argomenti a disposizione. Vai alla pagina del tuo profilo e iscriviti a qualche gruppo: avrai accesso a tutti gli argomenti dei gruppi che selezioni.</p>
                {% endif %}

                {% else %}
                <p>Se non hai ancora un account, procedi alla <a href="/users/signup">registrazione</a>.</p>
                <div class="wide-form-container">
                    {% from "forms.html" import login_form %}
                    {{ login_form() }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
