{% extends "base.html" %}

{% block nav %}
{% from "macros.html" import navbar with context %}
{{ navbar() }}
{% endblock %}

{% block content %}
{% from "links.html" import page with context %}
<div class="intro bg-light">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <p class="lead"><b>Accedi</b> con le tue credenziali. Se non hai ancora un profilo {{
                        page('signup_get', 'registrati') }} e comincia ad usare l'applicazione.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    {% from "forms.html" import login_form with context %}
                    {{ login_form() }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
