{% macro navbar(right_content=None) %}
{% from "links.html" import brand with context %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
        {{ brand() }}
        {% if right_content %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-3"
                aria-controls="navbarNavDropdown-3"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mr-auto text-center" id="navbarNavDropdown-3">
            <div class="navbar-nav ml-auto">
                {{ right_content }}
            </div>
        </div>
        {% endif %}
    </div>
</nav>
{% endmacro %}

{% macro username_from_email(email) %}{% set split_email = email.split('@') %}{{ split_email[0] }}{% endmacro %}

{% macro username_from_user(user) %}
{% set email = user.email %}
{% set username = user.username %}
{% set split_email = email.split('@') %}
{% if username %}{{ username }}{% else %}{{ split_email[0] }}{% endif %}
{% endmacro %}


{% macro loggedin(current_user) %}
{% from "links.html" import navlink with context %}
<ul class="navbar-nav ml-auto">
    {% if current_user.is_admin %}
    {{ navlink("dashboard", "tools", "Admin") }}
    {% endif %}
    {{ navlink("logout", "sign-out-alt", "Termina") }}
</ul>
{% endmacro %}