{% macro file_upload_form() %}
<form action="/tmp/upload" method="post" enctype="multipart/form-data">
    <div>
        Short name:
        <input type="text" name="short" id="short" />
    </div>
    <div>
        Filetype:
        <select name="filetype">
            <option value="pdf">pdf</option>
            <option value="md">md</option>
            <option value="png">png</option>
            <option value="mp4">mp4</option>
        </select>
    </div>
    <div>
        Select file to upload:
        <input type="file" name="file" id="file" />
    </div>
    <div>
        Description (optional)
        <textarea name="long" id="long"></textarea>
    </div>
    <div>
        <input type="submit" value="Upload File" name="submit" />
    </div>
</form>
{% endmacro %}

{% macro collapsible_list(list_name, list) %}
<details>
  <summary>{{ list_name }}</summary>
  <ul>
      {% for item in list %}
      <li>{{ item }}</li>
      {% endfor %}
  </ul>
</details>
{% endmacro %}

{% macro collapsible_link_list(summary, list) %}
<details>
  <summary>{{ summary }}</summary>
  <ul>
      {% for short, href in list %}
      <li><a href="{{href}}">{{ short }}</a></li>
      {% endfor %}
  </ul>
</details>
{% endmacro %}