{% extends "base.html" %}

{% block nav %}
{% from "macros.html" import navbar with context %}
{% from "macros.html" import loggedin with context %}
{{ navbar(right_content=loggedin(current_user)) }}
{% endblock %}

{% block content %}
{% from "macros.html" import username_from_user with context %}
{% from "forms.html" import inline_user_change_username with context %}
{% from "forms.html" import inline_user_change_password with context %}
<div class="intro bg-light">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <p class="lead"><b>Profilo di {{ username_from_user(current_user) }}.</b> Questo è il tuo profilo.
                        Puoi usare questa pagina per cambiare il tuo nome utente, la tua password o i gruppi di cui fai
                        parte.</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <p>{{ inline_user_change_username(current_user.username) }}</p>
                    <p>{{ inline_user_change_password() }}</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <pre>{{ extra|safe }}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
