{% extends "base.html" %}

{% block nav %}
{% from "navbar.html" import navbar %}
{{ navbar(current_user) }}
{% endblock %}

{% block content %}
{% from "forms.html" import group_subscription_form %}
{% from "forms.html" import group_unsubscription_form %}
{% from "forms.html" import change_username_form %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Profilo di {{ current_user.username }}</h1>
        <div class="row">
            <div class="col">
                Cambia il tuo nome ({{ current_user.username or "Non ancora definito" }}):
                {{ change_username_form(current_user.username, next="/users/profile") }}
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-10 col-md-6">
                <p>Questi sono i gruppi di cui fai parte:</p>
                <ul>
                    {% for group in user_groups %}
                    <li>{{ group.short }} - {{ group_unsubscription_form(group.id, group.short, next="/users/profile") }}</li>
                    {% endfor %}
                </ul>
                <details id="other_group_details">
                    <summary>Per iscriverti ad un altro gruppo, scegli da questa lista:</summary>
                    <ul>
                        {% for group in other_groups %}
                        <li>{{ group_subscription_form(group.id, group.short, next="/users/profile") }}</li>
                        {% endfor %}
                    </ul>
                </details>
            </div>
        </div>
    </div>
</div>
{% endblock %}
