{% extends "base.html" %}

{% block nav %}
{% from "macros.html" import navbar with context %}
{% from "forms.html" import inline_login_form with context %}
{{ navbar(right_content=inline_login_form()) }}
{% endblock %}

{% block content %}
{% from "links.html" import page with context %}
<div class="intro bg-light">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <p class="lead"><b>Qualcosa non va.</b> Probabilmente le informazioni inviate sono errate. Di seguito le informazioni che si sono potute recuperare.</p>
                </div>
            </div>
        </div>
        {% if exception %}
        <div class="section">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 bg-warning">
                    <pre>{{ exception }}</pre>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
