{% extends "base.html" %}

{% block nav %}
{% from "macros.html" import navbar with context %}
{% from "forms.html" import inline_login_form with context %}
{{ navbar(right_content=inline_login_form()) }}
{% endblock %}

{% block content %}
{% from "links.html" import page with context %}
<div class="intro bg-light">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <p class="lead"><b>C'è stato un errore.</b> Non sappiamo come mai, ma abbiamo registrato tutte le
                        informazioni rilevanti e presto risolveremo il problema. Grazie per la pazienza.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
